@model AutomatedManagementPilot_AMP.Models.JobCard

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OperationClockIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationClockIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationClockOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationClockOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartsMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartsMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopOrder.ShopOrderNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
