@model IEnumerable<AutomatedManagementPilot_AMP.Models.TimeClock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timeclock Index</h2>

<a asp-action="ClockIn">Clock In</a>


<table class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeClockId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked.TotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked.TotalMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeClockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked.TotalMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                <a asp-action="ClockOut" asp-route-id="@item.TimeClockId">Clock Out</a> |
            </td>
        </tr>
        }
    </tbody>
</table>

