@model IEnumerable<AutomatedManagementPilot_AMP.Models.TimeClock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*<input style="width:33%" class="btn-default" type="button" id="clockIn" value="Clock In"/>*@
    @*<input style="width:33%" type="button" id="clockIn" value="ClockIn" title="Clock In" onclick="location.href='@Url.Action("ClockIn", "TimeClocks")'" />*@
    <input style="width:33%" type="button" value="ClockOut" title="Clock Out" onclick="location.href='@Url.Action("ClockOut", "TimeClocks")'" />
    <input style="width:33%" type="button" id="clockIn" value="ClockIn" onclick="@Html.ActionLink("ClockIn", "TimeClocks")% />
</p>


<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeClockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeClockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeClockId">Delete</a>
            </td>
        </tr>*@
}
    </tbody>
</table>
