@model IEnumerable<AutomatedManagementPilot_AMP.Models.Machine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Machine Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CycleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CycleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopOrder.ShopOrderNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
