@model IEnumerable<AutomatedManagementPilot_AMP.Models.Manager>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager's Index </h2>

<p>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>User Name</label>
                @*@Html.DisplayNameFor(model => model.ApplicationUser.UserName)*@ 
            </th>
            <th>
                <label>Pay Roll</label>

                @*@Html.DisplayNameFor(model => model.PayRoll)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayRoll)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManagerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManagerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
