@model AutomatedManagementPilot_AMP.Models.Supervisor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supervisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayRoll)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayRoll)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupervisorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
