@model AutomatedManagementPilot_AMP.Models.ShopOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShopOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRecDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRecDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationSetUpHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationSetUpHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationProductionHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationProductionHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationTearDownHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationTearDownHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrossProductionRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrossProductionRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetProductionRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetProductionRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profitability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profitability)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ShopOrderNumber">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
